.w-100 {
  width: 100%;
}
.fs-25 {
  font-size: 25px;
}

mat-card{
  width: 20%;
}
button {
  color: white;
  border-color: white;
}
button.mat-menu-item {
  color: #b5b5b5;
}
.data-title {
  font-weight: bold;
}
.data {
  font-size: 20px;
}
.black, .black mat-card {
  color: #565656;
}

