.w-50 {
  width: 50%;
}
.mt-15 {
  margin-top: 15%;
}
.ml-10 {
  margin-left: 10%;
}
.fs-50 {
  font-size: 50px;
}
.fs-18 {
  font-size: 18px;
}
.fs-28 {
  font-size: 28px;
}
.fs-25 {
  font-size: 25px;
}
.columns-2 {
  margin-right: 5%;
  width: 45%;
}
.column-1 {
  width: 100%;
}
.consult-btn {
  font-weight: 300;
  line-height: 2.5em;
}
#no-tasks {
  height: 540px;
  display: inline-block;
  vertical-align: middle;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url('../../assets/img/sleep.png');
}
