<div fxLayout="column" fxLayoutGap="3%" fxFlex fxLayoutAlign="start center">

  <div fxLayout fxLayoutAlign="start center" fxLayoutGap="1%" fxFlexOffset.gt-sm="3%" fxFlexOffset.lt-md="8%" class="title"
    [ngClass]="{'w-50': !smallScreen, 'w-80': smallScreen}"
  >
    <mat-icon>house</mat-icon>
    <span>Tarefas do dia</span>
  </div>

  <table fxFlexOffset.lt-md="8%" [ngClass]="{'w-50': !smallScreen, 'w-80': smallScreen}" fxLayout="column" fxLayoutGap="5%">
    <tr *ngFor="let row of table; trackBy: trackRow" fxLayout>
      <td *ngFor="let cell of row; trackBy: trackRecord"
        [ngClass]="{'columns-2': !smallScreen, 'column-1': smallScreen}">
        <app-task [taskView]="cell"></app-task>
      </td>
    </tr>
  </table>

  <div *ngIf="noTasksToday" id="no-tasks" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="5%"
    [ngClass]="{'w-50': !smallScreen, 'w-100': smallScreen}" class="text-color">
    <div fxLayout="column" fxLayoutGap="5%" [ngClass]="{'ml-10': smallScreen}">
      <span class="fs-50">01/05,</span>
      <label class="fs-25">Nenhuma tarefa para hoje</label>
    </div>
  </div>

</div>


