#menu {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}
#menu button {
  color: white;
  border-color: white;
}
.sidenav {
  min-width: 50%;
}
.fs-17 {font-size: 17px;}
.fs-15 {font-size: 15px;}
.fw-300 {font-weight: 300;}
