#menu {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  background-color: #6AD3F4;
  box-shadow: 0px 2px 15px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12)
}
#menu button {
  color: white;
  border-color: white;
}
