<ng-template [ngIf]="appService.userAutheticated()">
  <!-- <div fxHide.lt-md id="menu" class="bg-primary" fxLayoutAlign="space-between center"> -->
  <div id="menu" class="bg-primary" fxLayoutAlign="space-between center">
    <div fxFlex="65" fxLayoutGap="5%" fxLayoutAlign="start center">
      <button fxFlex="15" fxFlexOffset="4%" mat-stroked-button routerLink="/home">Home</button>
      <button fxFlex="15" mat-stroked-button routerLink="/view-tasks">Tarefas</button>
      <button fxFlex="15" mat-stroked-button routerLink="/ranking">Ranking</button>
      <!-- <button fxFlex="15" mat-stroked-button [matMenuTriggerFor]="visualizar">Visualizar</button> -->
      <button mat-raised-button color="accent" routerLink="/new-task">+ Nova Tarefa</button>
    </div>

    <mat-slide-toggle color="accent" class="white" [checked]="isThemeDark | async"
      (change)="changeDark($event.checked)">Dark</mat-slide-toggle>

    <div fxFlex="20" fxLayoutGap="2%" fxLayoutAlign="end center">
      <span class="white">Oie, <strong>{{ userName }}</strong></span>
      <button mat-button fxLayoutAlign="center center" (click)="logout()" routerLink="/login">
        <mat-icon>exit_to_app</mat-icon>
        <span>Sair</span>
      </button>
    </div>

    <mat-menu #visualizar="matMenu">
      <button mat-menu-item>Tarefas Pendentes</button>
      <button mat-menu-item>Tarefas Semanais</button>
    </mat-menu>
  </div>

  <!-- <app-menu-nav fxHide.gt-sm></app-menu-nav> -->

</ng-template>
