.fs-20 {
  font-size: 20px;
}
.fw-500 {
  font-weight: 500;
}
.ml-5 {
  margin-left: 10px;
}
.table-header{
  font-size: 25px;
  height: 40px;
}
.height-60 {
  height: 60%
}
.data-row {
  font-size: 22px;
  height: 80px;
  border-radius: 0px 35px 35px 0px;
  width: 96%;
  transition: width 1s;
  transition-timing-function: ease-in-out;

}
.data-row:hover {
  width: 100%;
  transition: width 400ms;
  transition-timing-function: ease-in-out;
}
.data-points {
  font-size: 18px;
  font-weight: 500;
  color: #a3a3a3;
}
.mat-card .mat-divider-horizontal {
  position: relative;
}
.line-padding {
  padding: 20px 20px 20px 20px;
}
.fw {
  font-weight: 400;
}
.position {
  font-size: 16px;
  font-weight: 400;
}
.mw-fitcontent {
  max-width: fit-content;
}
