<mat-card fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="5%" style="height: 170px;">
  <span class="data black w-100">{{ taskView.task.name }}</span>
  <div class="w-100" fxLayout="column">
    <label class="data-title black">Duração</label>
    <div fxLayout fxLayoutAlign="start center" fxLayoutGap="1%">
      <mat-icon>timer</mat-icon>
      <span class="data black">{{ taskView.task.duration }} minutos</span>
    </div>
  </div>
  <button class="w-100" mat-stroked-button color="accent" [disabled]="completed"
    (click)="complete()"
  >
      <span *ngIf="!completed">Concluir</span>
      <span *ngIf="completed" fxLayoutAlign="center center">
        Concluido
        <mat-icon>done</mat-icon>
      </span>
  </button>
</mat-card>
