
<div *ngIf="allTasksWeek === undefined" fxLayoutAlign="center center" class="h-400">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="allTasksWeek !== undefined" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2%">

  <div fxLayout fxLayoutGap="1%" fxFlexOffset="5%" class="w-100 title" fxLayoutAlign="center center">
    <mat-icon>loop</mat-icon>
    <span>Tarefas Recorrentes</span>
  </div>


  <div *ngIf="!noRecurrentTasks" class="w-80" fxLayout fxLayoutGap="5%">
    <table class="w-100" fxLayout="column" fxLayoutGap="5%">
      <tr *ngFor="let row of recurrentTable; trackBy: trackRow" fxLayout fxLayoutGap="6%">
        <td class="column-width" *ngFor="let cell of row; trackBy: trackRecord">
          <app-task-recurrent [taskWeek]="cell" (refresh)="refresh($event)"></app-task-recurrent>
        </td>
      </tr>
    </table>
  </div>

  <div *ngIf="noRecurrentTasks" fxLayoutAlign="center center">
    <span class="fs-20 text-color">Nenhuma Tarefa</span>
  </div>


  <div fxLayout fxLayoutGap="1%" fxFlexOffset="2%" class="w-100 title" fxLayoutAlign="center center">
    <mat-icon>today</mat-icon>
    <span>Tarefas Pontuais</span>
  </div>


  <div *ngIf="!noNotRecurrentTasks" class="w-80" fxLayout fxLayoutGap="5%">
    <table class="w-100" fxLayout="column" fxLayoutGap="5%">
      <tr *ngFor="let row of notRecurrentTable; trackBy: trackRow" fxLayout fxLayoutGap="6%">
        <td  class="column-width" *ngFor="let cell of row; trackBy: trackRecord">
          <app-task-not-recurrent [task]="cell" (refresh)="refresh($event)"></app-task-not-recurrent>
        </td>
      </tr>
    </table>
  </div>

  <div *ngIf="noNotRecurrentTasks" fxLayoutAlign="center center">
    <span class="fs-20 text-color">Nenhuma Tarefa</span>
  </div>

</div>
