mat-button-toggle {
  width: 100%;
}
.mt-5 {
  margin-top: 5%;
}
.fs-20 {
  font-size: 20px;
}
.text-center {
  text-align: center;
}
.black {
  color: #565656;
}
.mat-raised-button {
  color: white;
}
.border-bottom{
  border-bottom: 1px solid #e8e8e8;
}
.input-height {
  height: 83.75px;
}

.register-btn {
  font-size: 20px;
  line-height: 2.5em;
}
