<div id="login-page" fxLayoutAlign="center center">

  <div id="balde" fxLayout fxLayoutAlign="end center">
    <div>
      <mat-card fxLayout="column">
        <mat-form-field>
          <input matInput [formControl]="userName" placeholder="Quem é você?">
          <mat-error *ngIf="userName.hasError('required')">
            Você precisa colocar o nome
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="accent" class="white"
          (click)="auth()" [routerLink]="goToHome()">Entrar</button>
      </mat-card>
    </div>
  </div>

</div>
