/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; font-weight: 300 !important ;}

@import './custom-theme.scss';

.title {
  font-size: 25px;
  font-weight: 200;
  color: mat-color($my-theme-primary);
}

.mat-button-toggle-checked,
.mat-button-toggle-checked.mat-button-toggle-appearance-standard {
  background-color: mat-color($my-theme-primary);
  color: white;
  font-weight: 400;
}

.image-div-size {
  height: 100%;
  width: 100%;
  display: block;
}

/*
* Utilities
*/

.bold {font-weight: bold}
.text-center {text-align: center}
.white {color: #fff}
.black {color: #565656}
.primary-color {color: mat-color($my-theme-primary)}
.secundary-color {color: mat-color($my-theme-accent)}
.bg-primary {background-color: mat-color($my-theme-primary)}
.bg-accent {background-color: mat-color($my-theme-accent)}

.w-10 {width: 10%}.w-20 {width: 20%}.w-30 {width: 30%}.w-40 {width: 40%}.w-50 {width: 50%}
.w-60 {width: 60%}.w-70 {width: 70%}.w-80 {width: 80%}.w-90 {width: 90%}.w-100 {width: 100%}


.first {background-color: mat-color($my-theme-primary, 200)}
.second {background-color: mat-color($my-theme-primary, 100) }
.third {background-color: mat-color($my-theme-primary, 50)}
