#menu {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  background-color: #6AD3F4;
}
#menu button {
  color: white;
  border-color: white;
}
.bg-color {
  height: 100%;
  background-color: #fcfcfc;
}


